*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body{
    width: 100vw;
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .main-div{
    
    width: 444px;
  height: 454px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
  }
  .form{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
  }
  .welcome-back{
    color: #757575;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  }
  .sign-in{
    color: #333;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  }
  #username{
    color: #333;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  }
  .userinput{
    display: flex;
  width: 352px;
  height: 45px;
  padding: 0px 12px;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  }
  #password{
    color: #333;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  }
  .passinput{
    display: flex;
  width: 352px;
  height: 45px;
  padding: 0px 12px;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  }
  .button{
    text-align: center;
  width: 352px;
  height: 45px;
  padding: 0px 12px;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px; /* 112.5% */
  text-transform: uppercase;
  border-radius: 6px;
  background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
  border: none;
  cursor: pointer;
  }
  .forget{
    color: #625BF7;
  text-align: center;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  }
  .dont-have-account{
    color: #333;
  text-align: center;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .sign-up{
    color: #625BF7;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  }
  .third-div{
    text-align: center;
    margin-top: 109px;
  }
  .second-div{
    text-align: center;
  }